@font-face {
	font-family: 'Uni Sans Heavy Italic CAPS';
	src: url(../../assets/fonts/UniSansHeavyItalicCAPS.woff2) format('woff2'),
	url(../../assets/fonts/UniSansHeavyItalicCAPS.woff) format('woff');
	font-weight: 900;
	font-style: italic;
}