@font-face {
	font-family: 'YouTube Sans';
	src: url(../../assets/fonts/YouTube-Sans-Medium.woff2) format('woff2'),
	url(../../assets/fonts/YouTube-Sans-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}